wordcloud~=1.8.1
matplotlib
scipy~=1.6.0
numpy~=1.20.0
dnspython
pillow~=8.1.0
fonttools
git+https://github.com/tooxo/api-commons.git
python-dateutil
fastapi~=0.61.2
uvicorn~=0.13.3
aiosqlite~=0.16.1
aiohttp~=3.6.2
asyncio-pool
chardet<4.0.0
motor
aiofiles~=0.6.0
jinja2