requests
requests_cache
wordcloud
beautifulsoup4
boto3
matplotlib
scipy
numpy
flask
bjoern
boto3_type_annotations
https://files.pythonhosted.org/packages/5b/bb/cdc8086db1f15d0664dd22a62c69613cdc00f1dd430b5b19df1bea83f2a3/Pillow-6.2.1.tar.gz